* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  min-height: 100vh;
  /* margin: auto; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 300px;
}

.Firstbox {
  border: 1px black solid;
  height: 200px;
  padding: 5rem;
  border-radius: 5px;
  box-shadow: 1px 4px 10px rgba( 0, 0, 0, 0.15);
}

p {
  white-space: nowrap;
}

.Form input[type="text"] {
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: solid 1px;
  padding: 0.3rem 0.4rem;
  box-shadow: 1px 4px 10px rgba( 0, 0, 0, 0.15);
}

.Form label {
  position: absolute;
  left: -99999px;
}
